.Task {
    border-bottom: 2px solid gray;
    padding: 5px;
}

.TaskText{
    font-weight: bold;
}

.TaskDone{
    color: #d9534f    ;
    text-decoration: line-through;
}

.ButtonGroup{
    float: right;
}
